<div class="container mt-4">
	<div class="p-5 mb-4 bg-light rounded-3 d-flex align-items-center">
		<div class="container-fluid py-5">
			<h1 class="display-7 display-md-5 fw-bold" id="animated-header" style="height: 70px"></h1>
			<p class="col-md-8 fs-4">
				Immerse yourself in vibrant student life. Find clubs that match your interests, join them, and never miss an update or event. As a Club Manager, share updates, create events, and foster a thriving community. Stay connected, stay informed, and let your campus life flourish with ClubHub!
			</p>
			<a href="/login/create" class="btn btn-primary btn-lg" type="button">Sign Up</a>
		</div>
		<img src="/static/images/icon.svg" alt="Logo" style="width: 300px; height: auto;">
	</div>
</div>

<div class="container">
	<div id="ClubsCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<% for(let i = 0; i < clubData.length; i++) { %>
				<div class="carousel-item <% if(i === 0) { %> active <% } %>">
					<div class="card">
						<div class="card-body">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<img src="/static/images/uploads/<%= clubData[i].club_banner %>" onerror="this.src='/static/images/default_banner.png';" class="img-fluid rounded" style="max-height: 200px; width: 100%; object-fit: cover;" alt="Your Image">
							</div>
							<h5 class="card-title mt-3">
								<%= clubData[i].club_name %>
							</h5>
							<p class="card-text">
								<%= clubData[i].club_description %>
							</p>
						</div>
					</div>
				</div>
			<% } %>
		</div>
		<a class="carousel-control-prev" href="#ClubsCarousel" role="button" data-bs-slide="prev">
			<span class="visually-hidden">Previous</span>
		</a>
		<a class="carousel-control-next" href="#ClubsCarousel" role="button" data-bs-slide="next">
			<span class="visually-hidden">Next</span>
		</a>
	</div>
</div>

<div class="container mt-4">
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div id="UpdatesCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% for(let i = 0; i < updateData.length; i++) { %>
                            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                <div class="carousel-content h-100 p-5 custom-carousel text-light rounded-3" style="max-height: 400px; overflow: auto;">
                                    <h2><%= updateData[i].update_title %></h2>
                                    <p><%- updateData[i].update_content %></p>
                                    <p class="text-muted"><%= new Date(updateData[i].update_date).toDateString() %></p>
									<a href="/login/create" class="btn btn-primary btn-lg" type="button">Like This?</a>
                                </div>
                            </div>
                    <% } %>
                </div>
                <a class="carousel-control-prev" href="#UpdatesCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#UpdatesCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-6 mt-3 mt-lg-0">
            <div id="eventsCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% for(let i = 0; i < eventData.length; i++) { %>
							<div class="carousel-item <%= i === 0 ? 'active' : '' %>">
								<div class="h-100 p-5 custom-carousel text-light rounded-3" style="max-height: 400px; overflow: auto;">
									<h2><%= eventData[i].event_name %></h2>
									<p><%- eventData[i].event_subtitle %></p>
									<p><strong>Hosted by: </strong><%= eventData[i].club_name %></p>
									<p><strong>Location: </strong><%= eventData[i].event_location %></p>
									<p><strong>Date: </strong><%= new Date(eventData[i].event_date).toDateString() %></p>
									<p><strong>Time: </strong><%= eventData[i].event_time %></p>
									<p><strong>Event Organizer Info: </strong><%= eventData[i].event_organizer_info %></p>
									<a href="/login/create" class="btn btn-primary btn-lg" type="button">Learn More!</a>
								</div>
							</div>
                    <% } %>
                </div>
                <a class="carousel-control-prev" href="#eventsCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#eventsCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>



<script>
	// Initialize Typed.js after the DOM has loaded
	document.addEventListener("DOMContentLoaded", function() {
		// Specify the target element and options for Typed.js
		var typed = new Typed("#animated-header", {
			strings: ["Welcome to ClubHub!"],
			typeSpeed: 60, // typing speed in milliseconds
			startDelay: 500, // delay before typing starts in milliseconds
			loop: false, // whether to loop the typing animation
			showCursor: false, // hide the cursor
			onComplete: function() {
				// Add any additional code you want to execute when typing completes
			}
		});
	});
</script>